/* ============================
 Commons
============================ */
@font-face {
  font-family: 'meiryo';
  src: url('extras/meiryo.ttf');
}

:root {
  --color-correct: #74bc0c;
  --color-incorrect: #f8043c;
  --color-primary: #d8d8d8;
  --color-grey: #797777;
  --color-purple: #9c6fd4;
  --color-purple-hover: #614683;
  --color-blue: #606cc4;
  --color-radical: #00a3f5;
  --color-radical-hover: #04608e;
  --color-radical-light: #65cbfd;
  --color-kanji: #fc5494;
  --color-kanji-hover: #9d365e;
  --color-kanji-light: #faa0c3;
  --color-kanji-grey: #714756;
  --color-vocab: #600090;
  --color-vocab-light: #be7edf;
  --color-vocab-lighter: #a22edc;
  --color-vocab-hover: #3d025a;
  --color-vocab-grey:#5c4667;
  --color-black: #121212;
  --color-white: #fff;
}

body {
  font-family: 'meiryo', Arial;
  margin: 20px;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-primary);
  text-align: center;
  position: relative;
}

.hidden {display: none;}

button {
  background-color: var(--color-purple);
  color: var(--color-primary);
  padding: 8px 20px;
  margin: 10px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-purple-hover);
  color: var(--color-grey);
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

/* ============================
  STATS SECTION
============================ */
#stats-section {
  margin-top: 20px;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
#stats-section.hidden { display: none; }

/* stats left-right containers */
#stats-left-container {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 2.5%;
  flex-direction: column;
} 
#stats-right-container {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 2.5%;
  flex-direction: column;
}

/* stats corner containers */
#stats-left-up-container {
  height: 45%;
  border: 1px solid var(--color-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#stats-left-down-container { 
  height: 50%; 
  border: 1px solid var(--color-blue); 
  border-radius: 10px; 
}
#stats-right-up-container {
  height: 45%;
  border: 1px solid var(--color-blue);
  border-radius: 10px;
}
#stats-right-down-container {
  height: 50%;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* stats-left-up-container contents*/
#level-info-data-container {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#data-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
}
#downloadBtn, #uploadBtn {padding: 4px 10px;}

#refresh-level-info-container {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  gap: 10px;
}

#level-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
  margin-top: 18px;  
  margin-bottom: 18px;  
}
.progress-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.progress-bar label {
  width: 80px;
  font-weight: bold;
  color: var(--color-primary);
}
.progress-bar progress {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 20px;
}
.progress-bar progress::-webkit-progress-bar   {border-radius: 10px; background-color: var(--color-blue);}
.progress-bar progress::-webkit-progress-value {border-radius: 10px; background-color: var(--color-correct);}
.progress-bar span {min-width: 90px; color: var(--color-primary);}

#statsRefresh {
  font-size: 50px;
  justify-content: center;
  padding-top: 0px;
  margin-right: 15px;
}

#stats-lessons-review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin-top: 20px;
}
#stats-lessons-container, #stats-reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  padding: 10px;
}


/* stats-right-up-container contents*/
#stats-bars-legend {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.stats-legend-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 3px;
}
.stats-scrollable-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  max-height: 75%;
  overflow-y: auto;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.stats-level-row {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.stats-label {
  width: 60px;
  text-align: center;
  color: var(--color-primary);
}
.stats-progress-bar-wrapper {
  flex: 1;
  height: 25px;
  background-color: var(--color-black);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}
.stats-progress-bar {height: 100%; display: flex;}
.stats-progress-bar-section {height: 100%;}

.stats-passed {background: repeating-linear-gradient(45deg,var(--color-radical-hover), var(--color-radical-hover) 33%,var(--color-kanji-hover) 33%, var(--color-kanji-hover) 66%,var(--color-vocab-hover) 66%, var(--color-vocab-hover) 100%);}
.stats-apprentice {background: repeating-linear-gradient(45deg,var(--color-radical), var(--color-radical) 33%,var(--color-kanji) 33%, var(--color-kanji) 66%,var(--color-vocab) 66%, var(--color-vocab) 100%);}
.stats-lessons {background: repeating-linear-gradient(45deg,var(--color-radical-light), var(--color-radical-light) 33%,var(--color-kanji-light) 33%, var(--color-kanji-light) 66%,var(--color-vocab-light) 66%, var(--color-vocab-light) 100%);}
.stats-locked {background: repeating-linear-gradient(45deg,#616161, #616161 33%,var(--color-kanji-grey) 33%, var(--color-kanji-grey) 66%, var(--color-vocab-grey) 66%, var(--color-vocab-grey) 100%);}

.stats-rad-passed {background-color: var(--color-radical-hover);}
.stats-rad-apprentice {background-color: var(--color-radical);}
.stats-rad-lessons {background-color: var(--color-radical-light);}
.stats-kanji-passed {background-color: var(--color-kanji-hover);}
.stats-kanji-apprentice {background-color: var(--color-kanji);}
.stats-kanji-lessons {background-color: var(--color-kanji-light);}
.stats-vocab-passed {background-color: var(--color-vocab-hover);}
.stats-vocab-apprentice {background-color: var(--color-vocab);}
.stats-vocab-lessons {background-color: var(--color-vocab-light);}
.stats-kanji-locked {background: repeating-linear-gradient(45deg,#616161,#616161 10px,var(--color-kanji-grey) 10px,var(--color-kanji-grey) 20px);}
.stats-vocab-locked {background: repeating-linear-gradient(45deg,#616161,#616161 10px,var(--color-vocab-grey) 10px,var(--color-vocab-grey) 20px);}

/* stats-right-down-container contents*/
.stats-box {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: var(--color-black);
}
#stats-box-apprentice {background-color:  #E2F5C9; border: 1px solid #74BC0C;}
#stats-box-guru {background-color:        #C6E79A; border: 1px solid #74BC0C;}
#stats-box-master {background-color:      #AAD96B; border: 1px solid #74BC0C;}
#stats-box-enlightened {background-color: #8ECB3C; border: 1px solid #74BC0C;}
#stats-box-burned {background-color:      #74BC0C; border: 1px solid #74BC0C;}
#stats-box-empty {background-color: var(--color-black); color: #74BC0C; border: 1px solid #74BC0C; }
#stats-box-radical {background-color: var(--color-black); color: var(--color-radical); border: 1px solid var(--color-radical);}
#stats-box-kanji {background-color: var(--color-black); color: var(--color-kanji); border: 1px solid var(--color-kanji); } 
#stats-box-vocab {background-color: var(--color-black); color: var(--color-vocab-lighter); border: 1px solid var(--color-vocab-lighter); }



/* ============================
 Game Section
============================ */
#lesson-stats-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

/* Rectangles Correct/Incorrect  */
.feedback-rectangles {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  width: 80px;
  height: 45vh;
  background-color: var(--color-correct);
  color: var(--color-white);
  writing-mode: vertical-lr;
  font-size: 24px;
  letter-spacing: 15px;
  text-align: center;
}
#left-rect  {left: 22%;}
#right-rect {right: 22%;}

/* HIEROGLYPH & QUESTION/ANSWER  */
.radical, .kanji, .vocab {
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-size: 6em;
  margin: auto;
  border-radius: 15%;
}
.radical {background-color: var(--color-radical);}
.kanji {background-color:   var(--color-kanji);}
.vocab {background-color:   var(--color-vocab);}

#question-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#question-text {
  font-size: 25px;
  margin-top: 40px;
}
#answer-input {
  margin-top: 20px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-primary);
  caret-color: var(--color-primary);
  text-align: center;
  font-size: 50px;
  border-bottom: 2px solid var(--color-primary);
}
#submit-info-review-container {
  margin-top: 20px;
}
#show-info-page {
  padding: 8px 28px; 
}



/* ============================
  NEXT REVIEW IN... SECTION 
============================ */
#no-lesson-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-purple);
  font-size: 24px;
  width: 30%;
  height: 40%;
  margin-left: 30%;
  margin-top: 20%;
  border: 1px solid var(--color-purple);
  border-radius: 10px;
  padding: 50px;
  gap: 20px;
}
#no-lesson-section.hidden {display: none;}



/* ============================
  INFO-INPUT/RESULTS SECTION
============================ */

/* info-search */
#search-query {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-primary);
  caret-color: var(--color-primary);
  text-align: center;
  font-size: 50px;
  border-bottom: 2px solid var(--color-purple);
}

#search-results {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-width: 100%;
}
#search-results li {
  padding: 14px 0px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.radical-search {background-color: var(--color-radical); color: var(--color-primary);}
.kanji-search {background-color: var(--color-kanji); color: var(--color-primary);}
.vocab-search {background-color: var(--color-vocab); color: var(--color-primary);}

.radical-search:hover{ color: var(--color-grey); background-color: var(--color-radical-hover);}
.kanji-search:hover{color: var(--color-grey); background-color: var(--color-kanji-hover);}
.vocab-search:hover{ color: var(--color-grey); background-color: var(--color-vocab-hover);}

#symbol-composition {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin-right: 42px;
}
#symbol-composition li {
  font-size: 30px;
  padding: 10px 10px;
  border-radius: 15%;
  cursor: pointer;
  text-align: center;
}

/* hieroglyph-details container */
#hieroglyph-detail {
  max-width: 1000px;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  margin-top: 40px;   
  gap: 20px;
}
#hieroglyph-detail.hidden {display: none;}

.radical-info, .kanji-info, .vocab-info {
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);;
  border-radius: 15%;
  border: none;
  outline: none;
}
.radical-info {background-color: var(--color-radical);}
.kanji-info {background-color: var(--color-kanji);}
.vocab-info {background-color: var(--color-vocab);}

.radical-info:hover{ color: var(--color-grey); background-color: var(--color-radical-hover);}
.kanji-info:hover{color: var(--color-grey); background-color: var(--color-kanji-hover);}
.vocab-info:hover{ color: var(--color-grey); background-color: var(--color-vocab-hover);}

/* meanings/readings */
#details {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}
#detail-meaning {
  font-size: 30px;
  color: var(--color-primary);
}
#extra-meanings {font-size: 25px;}

#detail-onyomi-title {color: var(--color-blue)}
#detail-kunyomi-title {color: var(--color-blue)}

#onkun {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
#onon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#kunkun {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#line-radical {margin-top: 15px;}
#detail-level {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-size: 15px;
  color: var(--color-primary);
  gap: 10px;
  border: 1px solid var(--color-blue);
  border-radius: 10px;
  padding: 10px;
}
.info-level-time-style {
  color: var(--color-purple);
  font-size: 20px;
  font-weight: bold;
}

#vocab-sound-button{
  font-size: 30px;
  margin-bottom: 0px;
}
.faded {
  opacity: 0.5;
  color: var(--color-primary);
}

/* wanikani link */
#symbol-ref {
  margin-left: 50px;
  margin-top: 50px;
}
#detail-wanikani-link {
  display: inline-block;
  margin-top: 13px;
  color: var(--color-blue);
  font-size: 20px;
  position: relative;
  border-radius: 10px;
  padding: 10px 20px; 
  }

/* mnemonics */
#mnemonic-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  margin-left: 50px;
}
.mnemonic-item {
  position: relative;
  margin: 0 10px;
}
.mnemonic-item button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: var(--color-purple);
  color: var(--color-white);
  border-radius: 5px;
}
.mnemonic-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 80vh;
  background-color: var(--color-purple);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
}
.show-mnemonic:hover {
  background-color: var(--color-purple-hover);
  color: var(--color-grey);
}
#detail-mnemonic-meaning, #detail-mnemonic-reading {
  width: 100%;
  resize: none;
  overflow-wrap: break-word;
  background-color: var(--color-purple);
  color: var(--color-white);
  border: none;
  outline: none;
  font-size: 18px;
}

.mnemonic-content.show {display: block;}
.flash-effect {animation: flash-color 0.6s ease-in-out forwards;}
@keyframes flash-color {
  0% {color: var(--color-white);}
  50% {color: var(--color-correct);}
  100% {color: var(--color-white);}
}

/* sample vocab sentences */
#detail-sentences {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.sentence-item {
  margin-top: 10px;
  display: flex;
  width: 100%;
}
.japanese {
  flex: 1;
  text-align: right;
  padding-right: 20px;
} 
.translation {
  flex: 1;
  text-align: left;
}