/* ============================
 Review Section
============================ */

/* Rectangles Correct/Incorrect  */
.feedback-rectangles {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  width: 80px;
  height: 45vh;
  background-color: var(--color-correct);
  color: var(--color-white);
  writing-mode: vertical-lr;
  font-size: 24px;
  letter-spacing: 15px;
  text-align: center;
}
#left-rect  {left: 22%;}
#right-rect {right: 22%;}

/* HIEROGLYPH & QUESTION/ANSWER  */
.radical, .kanji, .vocab {
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-size: 6em;
  margin: auto;
  border-radius: 15%;
}
.radical {background-color: var(--color-radical);}
.kanji {background-color:   var(--color-kanji);}
.vocab {background-color:   var(--color-vocab);}

#question-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#question-text {
  font-size: 25px;
  margin-top: 30px;
}
#answer-input {
  margin-top: 20px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-primary);
  caret-color: var(--color-primary);
  text-align: center;
  font-size: 50px;
  border-bottom: 2px solid var(--color-primary);
}
#submit-info-review-container {
  margin-top: 20px;
}
#show-info-page {
  padding: 8px 28px; 
}
#review-progress {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #555;
}

/* ============================
  NEXT REVIEW IN... SECTION 
============================ */
#no-review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-purple);
  font-size: 24px;
  width: 30%;
  height: 40%;
  margin-left: 30%;
  margin-top: 20%;
  border: 1px solid var(--color-purple);
  border-radius: 10px;
  padding: 50px;
  gap: 20px;
}
#no-review-section.hidden {display: none;}